version: '3.8'
services:
  n8n:
    image: ${IMAGE_N8N}
    restart: unless-stopped
    expose:
      - "443"
    env_file:
      - .env
    environment:
      - N8N_HOST=${N8N_HOST}
      - N8N_PORT=${N8N_PORT}
      - N8N_PROTOCOL=${N8N_PROTOCOL}
      - TZ=${TZ}
    volumes:
      - n8n-data:/home/node/.n8n
    networks:
      - web

  caddy:
    image: ${IMAGE_CADDY}
    restart: unless-stopped
    depends_on:
      - n8n
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
    networks:
      - web
volumes:
  n8n-data:

networks:
  web:
    driver: bridge
